{% extends 'index.html' %}
{% block container %}

	<form method='POST'>
		 <div>
			<div class="input-group">
			<table width=100%>
				<tr>
					<td>
						<input type="text" class="form-control" name="serial"  placeholder="New beacon serial number" />
					</td>
					<td>
						<input type="text" class="form-control" name="comment" placeholder="New beacon comment" />
					</td>
					<td>
						<div class="input-group-btn">
							<button type="submit" class="btn btn-secondary" name="Add" value="Add" aria-haspopup="true" aria-expanded="false">
							Add
							</button>
							
						</div>
					</td>
				</tr>
			</table>
			</div>
		</div>
	</form>
{%if beacons%}		
	{% for beacon in beacons %}
	<hr>
	<form method='POST'>
		 <div >
			<div class="input-group">
				<span class="input-group-addon" id="sizing-addon1">Serial no: {{beacon['serial']}}</span>
				<input type="text" name="comment" class="form-control" aria-label="Text input with dropdown button" value="{{beacon.comment}}">
				<div class="input-group-btn">
					<button type="submit" class="btn btn-secondary" name="Update"  value="{{beacon.serial}}" aria-haspopup="true" aria-expanded="false">
					Update
					</button>
					<button type="submit" class="btn btn-secondary" name="Delete" value="{{beacon.serial}}" aria-haspopup="true" aria-expanded="false">
					Delete
					</button>
				</div>
			</div>
		</div>
	</form>
	{% endfor%}
{%endif%}


{% endblock %}
