{% extends 'layout.html' %}
{% block head %}
	
		<title>Checkin Beacon</title>
		<link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
		<script src="{{ url_for('static',filename='scripts/jquery-1.12.1.min.js')}}"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		
{% endblock %}
{% block body %}
		<div class="container">
			<div class="header">
				<H1 class="text=muted"> Check-in Beacon</h1>
{% include 'nav.html' %}
{% block nav %}{% endblock %}
			</div>
			<div>
{% block container %}
				<div class="jumbotron">
					<h1>Welcome</h1>
					This is the Redlab checkin system which allows presence confirmations in specified places.
				</div>
{% endblock %}
			 </div>
		</div>
		<script type="text/javascript" >
			$(document).ready(function () {
			$("#{%if navpil %}{{ navpil }}{% else %}{{ request.endpoint }}{% endif %}").addClass("active"); })
		</script>	
{% endblock%}
