{% block nav %}
<nav class="navbar">
	<ul class="nav  nav-pills navbar-left">
		<li id='index' role="presentation" class="active"><a href="{{ url_for('index') }}">Home</a></li>
{% if not session.logged_in %}
		<li id="login" role="presentation"> <a href="{{ url_for('login') }}">Log in</a></li>
		<li id="register"="presentation"> <a href="{{ url_for('register') }}">Register</a></li>

{% else %}
		<li id="profile" role="presentation">  <a href="{{ url_for('profile',user_id=session['logged_in']) }}">Me</a>
		<li id="logout" role="presentation">  <a href="{{ url_for('logout') }}">Log out</a>

	{% if session.is_admin == 1 %}
		<li id="users" role="presentation"> <a href="{{ url_for('users') }}">Usres</a></li>
		
	{% endif %}
		<li role="presentation">  <a href="{{ url_for('wip') }}">Options</a>
{% endif %}
	{%if session.nav %}
	{% for user_login ,href in session.nav.iteritems() %}
		<li id= "{{ user_login|e }}" role="presentation"><a href="{{ href }}" >{{ user_login|e }}</a>
	{% endfor %}
	{% endif %}
	</ul>
</nav>

<script>
  $(document).ready(function () {
  $("#{{request.endpoint}}").addClass("active"); })
</script>
{% endblock %}