{% extends 'index.html' %}

{% block content %}
{% block user_entry %}{% endblock %}
{% endblock %}

{% block user_entry %}
			<div class="jumbotron" >
				<table style="width:100%; text-align:center;">
					<tr>
						<td>
							<img src="/static/img/default_user.jpeg" />    
						</td>
						<td>
							<table>
								<tr> 
									<td> <h2>Login</h2></td>
								</tr>
								<tr>
									<td><h3>last seen 2016-02-15 15:30</h3></td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			 </div>
		</div>
{% enblock %}